<!-- app/views/layouts/_filter_form.html.erb -->
<div class="mb-4">
  <button id="filter-toggle", data: { turbo: false }, class="w-full bg-gray-100 py-2 px-4 rounded-lg text-left font-medium flex items-center justify-between hover:bg-gray-200 focus:outline-none">
    <span>Advanced Filtering</span>
    <svg id="filter-icon", data: { turbo: false }, class="w-5 h-5 transition-transform transform rotate-0" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
    </svg>
  </button>
  <div id="filter-form", data: { turbo: false }, class="mt-4 max-h-0 overflow-hidden transition-max-height duration-500 ease-in-out">
    <%= form_with url: students_path, data: { turbo: false }, method: :get, local: true, class: "students-form" do |form| %>
      <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full", maxlength: 200 %>
      </div>
      <div class="field">
        <%= form.label :uin %>
        <%= form.number_field :uin, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full", maxlength: 9 %>
      </div>
      <div class="field">
        <%= form.label :grade_ryg, 'Grade' %>
        <%= form.select :grade_ryg, options_for_select([['G', 'G'], ['Y', 'Y'], ['R', 'R']], params[:grade_ryg]), { include_blank: 'Select Grade' }, class: 'block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full', id: 'student_grade_ryg' %>
      </div>
      <div class="field">
        <%= form.label :gender, 'Gender' %>
        <%= form.select :gender, options_for_select(['Male', 'Female']), { include_blank: 'Select Gender' }, class: 'block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full' %>
      </div>
      <div class="field">
        <%= form.label :ethnicity, 'Ethnicity' %>
        <%= form.select :ethnicity, options_for_select(@ethnicities, params[:ethnicity]), { include_blank: 'Select Ethnicity' }, class: 'block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full' %>
      </div>
      <div class="field">
        <%= form.label :nationality, 'Nationality' %>
        <%= form.select :nationality, options_for_select(@nationalities, params[:nationality]), { include_blank: 'Select Nationality' }, class: 'block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full' %>
      </div>
      <div class="field">
        <%= form.label :expected_graduation, 'Expected Graduation' %>
        <%= form.date_field :expected_graduation, value: params[:expected_graduation], class: 'block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full' %>
      </div>
      <div class="field">
        <%= form.label :university_classification, 'University Classification' %>
        <%= form.select :university_classification, options_for_select(@classifications, params[:university_classification]), { include_blank: 'Select Classification' }, class: 'block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full' %>
      </div>
      <div class="field">
        <%= form.label :sexual_orientation, 'Sexual Orientation' %>
        <%= form.select :sexual_orientation, options_for_select(@orientations, params[:sexual_orientation]), { include_blank: 'Select Orientation' }, class: 'block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full' %>
      </div>
      <div class="field">
        <%= form.label :date_of_birth, 'Date of Birth' %>
        <%= form.date_field :date_of_birth, value: params[:date_of_birth], class: 'block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full' %>
      </div>
      <div class="field">
        <%= form.label :email, 'Email' %>
        <%= form.text_field :email, value: params[:email], class: 'block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full' %>
      </div>
      <div class="actions flex mt-4 space-x-2">
        <%= form.submit 'Apply Filters', class: "rounded-lg py-2 px-5 bg-gray-100 font-medium hover:bg-gray-200 hover:cursor-pointer" %>
        <%= link_to 'Reset Filters', students_path, class: "rounded-lg py-2 px-5 bg-gray-100 font-medium hover:bg-gray-200" %>
      </div>
    <% end %>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const gradeSelect = document.getElementById("student_grade_ryg");

    function updateGradeColor() {
      const selectedOption = gradeSelect.value;
      gradeSelect.classList.remove("bg-green-500", "bg-red-500", "bg-yellow-500", "text-white", "text-black");

      switch (selectedOption) {
        case "G":
          gradeSelect.classList.add("bg-green-500", "text-white");
          break;
        case "R":
          gradeSelect.classList.add("bg-red-500", "text-white");
          break;
        case "Y":
          gradeSelect.classList.add("bg-yellow-500", "text-black");
          break;
        default:
          break;
      }
    }

    updateGradeColor();

    gradeSelect.addEventListener("change", updateGradeColor);
  });
</script>
