<!-- app/views/layouts/_navbar.html.erb -->
<header class="bg-maroon-800 text-white py-4 px-8 flex justify-around items-center fixed top-0 left-0 w-full z-10">
  <div>
    <%= link_to pages_home_path, data: { turbo: false } do %>
      <%= image_tag('logo.png', alt: 'Cyber CRM', class: 'h-10 mr-4') %>
    <% end %>
  </div>
  <div class="flex-1 flex justify-center">
    <nav class="flex space-x-6">
      <% if session[:user_id] %>
        <% if current_user.role == 'program_director' %>
          <%= link_to pages_form_path, id: "search-link", data: { turbo_frame: "modal" }, class: 'text-white hover:opacity-80 text-2xl' do %>
            <i class="fas fa-search"></i>
          <% end %>
          <%= link_to 'Home', pages_home_path, data: { turbo: false }, class: 'text-white hover:opacity-80 hover:text-yellow-500 text-2xl' %>
          <%= link_to 'Students', students_path, data: { turbo: false }, class: 'text-white hover:opacity-80 hover:text-yellow-500 text-2xl' %>
          <%= link_to 'Options', options_path, data: { turbo: false }, class: 'text-white hover:opacity-80 hover:text-yellow-500 text-2xl' %>
        <% elsif current_user.role == 'super_user' %>
          <%= link_to 'Home', pages_home_path, data: { turbo: false }, class: 'text-white hover:opacity-80 hover:text-yellow-500 text-2xl' %>
          <%= link_to 'Users', users_path, data: { turbo: false }, class: 'text-white hover:opacity-80 hover:text-yellow-500 text-2xl' %>
        <% end %>
      <% else %>
        <%= button_to 'Login', '/auth/google_oauth2', data: { turbo: "false" }, class: 'text-white hover:opacity-80 hover:text-yellow-500 text-2xl' %>
      <% end %>
    </nav>
  </div>
  <% if current_user %>
    <div class="relative inline-block">
      <div id="dropdown-trigger" class="flex items-center cursor-pointer">
        <span class="mr-2"><%= current_user.name %></span>
        <%= image_tag(current_user&.image || asset_path('default.jpg'), alt: 'User image', class: 'h-10 w-10 rounded-full') %>
      </div>
      <div id="dropdown-content" class="dropdown-content absolute hidden bg-gray-100 text-black min-w-[160px] shadow-lg p-3 z-10 right-0 rounded-lg">
        <%= current_user.email %>
        <% if current_user.role == 'super_user' %>
          <p>Role: Super User</p>
        <% end %>
        <% if current_user.role == 'program_director' %>
          <p>Role: Program Director</p>
        <% end %>
        <% if current_user.role == 'student_worker' %>
          <p>Role: Employee</p>
        <% end %>
        <%= link_to 'Sign out', logout_path, data: { turbo: false }, class: 'hover:opacity-80 hover:text-red-500' %>
      </div>
    </div>
  <% end %>
</header>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var dropdownTrigger = document.getElementById('dropdown-trigger');
    var dropdownContent = document.getElementById('dropdown-content');

    dropdownTrigger.addEventListener('click', function() {
      dropdownContent.classList.toggle('hidden');
    });

    document.addEventListener('click', function(event) {
      if (!dropdownTrigger.contains(event.target) && !dropdownContent.contains(event.target)) {
        dropdownContent.classList.add('hidden');
      }
    });
  });
</script>
