<%= render 'layouts/navbar' %>

<div class="container mx-auto my-8">
  <h1 class="text-2xl font-bold mb-4">Edit Custom Attribute</h1>

  <%= form_with(model: @custom_attribute, local: true, class: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4") do |f| %>
    <% if @custom_attribute.errors.any? %>
      <div id="error_explanation" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-4">
        <h2 class="font-bold"><%= pluralize(@custom_attribute.errors.count, "error") %> prohibited this custom attribute from being saved:</h2>
        <ul class="list-disc pl-5">
          <% @custom_attribute.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-4">
      <%= f.label :name, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= f.text_field :name, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="mb-4">
      <%= f.label :active, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <div class="flex items-center">
        <%= f.check_box :active, class: "mr-2 leading-tight" %>
        <span class="text-gray-700">Active</span>
      </div>
    </div>

    <div class="flex items-center justify-between">
      <%= f.submit "Update Custom Attribute", class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium cursor-pointer" %>
    </div>
  <% end %>

  <div class="mt-4">
    <%= link_to 'Back', custom_attributes_path, data: { turbo: false }, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
