<!-- app/views/custom_attributes/new.html.erb -->
<h1>New Custom Attribute</h1>

<%= form_with model: @custom_attribute, local: true do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :active %>
    <%= f.check_box :active %>
  </div>

  <div>
    <%= f.submit 'Create Custom Attribute' %>
  </div>
<% end %>
