<%= render 'layouts/navbar' %>
<% if current_user.role == 'super_user' %>
<div class="container mx-auto my-8">
  <h1 class="text-2xl font-bold mb-4">Edit User</h1>

  <%= form_with(model: @user, local: true, class: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4") do |form| %>
    <% if @user.errors.any? %>
      <div id="error_explanation" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-4">
        <h2 class="font-bold"><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
        <ul class="list-disc pl-5">
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-4">
      <%= form.label :name, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_field :name, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-gray-200", disabled: true %>
    </div>

    <div class="mb-4">
      <%= form.label :email, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.email_field :email, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-gray-200", disabled: true %>
    </div>

    <div class="mb-4">
      <%= form.label :role, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.select :role, options_for_select(['super_user', 'program_director', 'student_worker']), class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="flex items-center justify-between">
      <%= form.submit "Update User", class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium cursor-pointer" %>
    </div>
  <% end %>

  <div class="mt-4">
    <%= link_to 'Back', users_path, data: { turbo: false }, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
<% else %>
  <div class="mx-auto md:w-2/3 w-full">
    <h1 class="font-bold text-4xl">Permission denied.  Please return to the homepage.</h1>
</div>
<% end %>