<h1>User: <%= @user.name %></h1>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<%= link_to 'Edit', data: { turbo: false }, edit_user_path(@user) %> |
<%= link_to 'Back', data: { turbo: false }, users_path %>
