<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <title>Home Page</title>
</head>
<body>
  <%= render 'layouts/navbar' %>
  <main class="p-8 mt-16">

    <br>
    <% if current_user.role == 'student_worker' %>
      <section>
        <h2 class="text-2xl mb-4">Welcome, <span class="mr-2"><%= current_user.name %></span></h2>
        <p>
          As an <b>employee</b> you start with basic access with being able to create students and nothing more. <br>
          If a given program director wants to give more access that is possible. <br>
          However it will need to be assigned to you. <br>
        </p>
      </section>
    <% end %>

    <br>
    <% if current_user.role == 'program_director' %>
      <section>
        <h2 class="text-2xl mb-4">Welcome, <span class="mr-2"><%= current_user.name %></span></h2>
        <p>
          As a <b>program director</b> you will have access to all students within your program. <br>
          You will be able to create, update, and deactivate any students pertaining to your given program. <br>
          If you would like to add notes that other program directors can see you can add a public note. <br>
          Otherwise you may add a private note only to where only you can access these notes.
        </p>
      </section>
    <% end %>

    <br>
    <% if current_user.role == 'super_user' %>
      <section>
      <h2 class="text-2xl mb-4">Welcome, <span class="mr-2"><%= current_user.name %></span></h2>
      <p>
        As a <b>super user</b> you will have access to all users on the website. <br>
        You will not be able to view students. However you can add, delete, or update users on the site. <br>
        Additionally, you can change the roles for any given user. <br>
        If you change your own role out of super user access you will not be able to go back unless another super
        user gives you access to do so.
      </p>
      </section>
    <% end %>

    <br>
    <section>
      <h2 class="text-2xl mb-4">Select Data Attribute and Chart Type</h2>
      <%= form_with url: pages_home_path, method: :get, local: true do %>
        <div class="mb-4">
          <%= label_tag :attribute, "Select Attribute:", class: "block text-sm font-medium text-gray-700" %>
          <%= select_tag :attribute, options_for_select(@attributes, @attribute), class: "mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md" %>
        </div>
        <div class="mb-4">
          <%= label_tag :chart_type, "Select Chart Type:", class: "block text-sm font-medium text-gray-700" %>
          <%= select_tag :chart_type, options_for_select(@chart_types, @chart_type), class: "mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md" %>
        </div>
        <div>
          <%= submit_tag "Generate Chart", class: "inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 hover:cursor-pointer" %>
        </div>
      <% end %>
    </section>

    <br>
    <section class="border rounded-lg p-4">
      <h2 class="text-2xl mb-4">Chart: <%= @attribute.humanize %> - <%= @chart_type.humanize %> Chart</h2>
      <% case @chart_type
         when 'bar'
           concat(bar_chart @chart_data)
         when 'line'
           concat(line_chart @chart_data)
         when 'pie'
           concat(pie_chart @chart_data)
         when 'column'
           concat(column_chart @chart_data)
         else
           concat(bar_chart @chart_data)
         end %>
    </section>

  </main>
</body>
</html>
