<%= form_with(model: @option, local: true) do |form| %>
  <% if @option.errors.any? %>
    <div id="error_explanation" class="my-4 p-4 bg-red-100 border-l-4 border-red-500 text-red-700">
      <h2 class="font-bold"><%= pluralize(@option.errors.count, "error") %> prohibited this option from being saved:</h2>
      <ul class="list-disc pl-5">
        <% @option.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name, class: "block font-medium text-gray-700" %>
    <%= form.text_field :name, placeholder: "Enter Name", class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :option_type, class: "block font-medium text-gray-700" %>
    <%= form.text_field :option_type, placeholder: "Enter Option Type", class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :display_type, class: "block font-medium text-gray-700" %>
    <%= form.select :display_type, options_for_select(%w[dropdown text date number]), {}, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit "Add", class: "rounded-lg py-3 px-5 bg-blue-600 hover:bg-blue-800 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
