<% if current_user.role == 'program_director' %>
  <%= form_with(model: student, local: true) do |form| %>
    <% if student.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>
        <ul>
          <% student.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="my-5">
      <%= form.label :name %>
      <%= form.text_field :name, placeholder: "Enter Name", class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full", maxlength: 200 %>
    </div>

    <div class="my-5">
      <%= form.label :uin, "UIN" %>
      <%= form.number_field :uin, placeholder: "Enter UIN (Ex: 123456789)", class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full", maxlength: 9 %>
    </div>

    <div class="my-5">
      <%= form.label :grade %>
      <select name="student[grade_ryg]" id="grade_ryg" class="block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full">
        <option>Select Grade</option>
        <option value="G" <%= 'selected' if student.grade_ryg == 'G' %>>G</option>
        <option value="Y" <%= 'selected' if student.grade_ryg == 'Y' %>>Y</option>
        <option value="R" <%= 'selected' if student.grade_ryg == 'R' %>>R</option>
      </select>
    </div>

    <div class="my-5">
      <%= form.label :gender %>
      <%= form.collection_select :gender, ['Male', 'Female'] + Option.where(field: 'Gender').pluck(:options).flat_map { |opt| opt.split(', ') }, :to_s, :to_s, { prompt: 'Select Gender' }, { class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" } %>
    </div>

    <div class="my-5">
      <%= form.label :ethnicity %>
      <%= form.collection_select :ethnicity, ['Asian', 'Black', 'Hispanic/Latino', 'Native American', 'White', 'Other'] + Option.where(field: 'Ethnicity').pluck(:options).flat_map { |opt| opt.split(', ') }, :to_s, :to_s, { prompt: 'Select Ethnicity' }, { class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" } %>
    </div>

    <div class="my-5">
      <%= form.label :nationality %>
      <%= form.collection_select :nationality, ['American', 'British', 'Canadian', 'Australian', 'French', 'German', 'Japanese', 'Chinese', 'Indian', 'Other'] + Option.where(field: 'Nationality').pluck(:options).flat_map { |opt| opt.split(', ') }, :to_s, :to_s, { prompt: 'Select Nationality' }, { class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" } %>
    </div>

    <div class="my-5">
      <%= form.label :university_classification %>
      <%= form.collection_select :university_classification, ['Freshman', 'Sophomore', 'Junior', 'Senior', 'Graduate'] + Option.where(field: 'University Classification').pluck(:options).flat_map { |opt| opt.split(', ') }, :to_s, :to_s, { prompt: 'Select Classification' }, { class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" } %>
    </div>

    <div class="my-5">
      <%= form.label :status %>
      <%= form.collection_select :status, ['Active', 'Inactive'] + Option.where(field: 'Status').pluck(:options).flat_map { |opt| opt.split(', ') }, :to_s, :to_s, { prompt: 'Select Status' }, { class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" } %>
    </div>

    <div class="my-5">
      <%= form.label :sexual_orientation %>
      <%= form.collection_select :sexual_orientation, ['Heterosexual', 'Homosexual'] + Option.where(field: 'Sexual Orientation').pluck(:options).flat_map { |opt| opt.split(', ') }, :to_s, :to_s, { prompt: 'Select Orientation' }, { class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" } %>
    </div>

    <div class="my-5">
      <%= form.label :expected_graduation %>
      <%= form.date_field :expected_graduation, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.label :date_of_birth %>
      <%= form.date_field :date_of_birth, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.label :email %>
      <%= form.email_field :email, placeholder: "Enter Email (Ex: name@tamu.edu)", class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="field">
      <%= form.fields_for :custom_attributes do |custom_form| %>
        <% Option.where.not(field: ['Gender', 'Ethnicity', 'Nationality', 'University Classification', 'Status', 'Sexual Orientation']).each do |option| %>
          <div class="my-5">
            <%= custom_form.label option.field, option.field %>
            <% case option.display_type %>
            <% when 'dropdown' %>
              <%= custom_form.collection_select option.field, option.options.split(', '), :to_s, :to_s, { prompt: 'Select Option', selected: custom_attribute_value(student, option.field) }, { class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" } %>
            <% when 'text' %>
              <%= custom_form.text_field option.field, value: custom_attribute_value(student, option.field), class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
            <% when 'date' %>
              <%= custom_form.date_field option.field, value: custom_attribute_value(student, option.field), class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
            <% when 'number' %>
              <%= custom_form.number_field option.field, value: custom_attribute_value(student, option.field), class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
            <% else %>
              <%= custom_form.text_field option.field, value: custom_attribute_value(student, option.field), class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="inline">
      <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 hover:bg-blue-800 text-white inline-block font-medium cursor-pointer" %>
    </div>
  <% end %>
<% else %>
  <div class="mx-auto md:w-2/3 w-full">
    <h1 class="font-bold text-4xl">Permission denied. Please return to the homepage.</h1>
  </div>
<% end %>
