<% if current_user.role == 'program_director' %>
<%= form_with(model: student, class: "contents") do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% student.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, placeholder: "Enter Name", class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full", maxlength: 200 %>
  </div>

  <div class="my-5">
    <%= form.label :uin %>
    <%= form.number_field :uin, placeholder: "Enter UIN (Ex: 123456789)", class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full", maxlength: 9 %>
  </div>

  <div class="my-5">
    <%= form.label :grade %>
    <select name="student[grade_ryg]" id="student_grade_ryg" class="block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full">
      <option>Select Grade</option>
      <option value="G" <%= 'selected' if @student.grade_ryg == 'G' %>>G</option>
      <option value="Y" <%= 'selected' if @student.grade_ryg == 'Y' %>>Y</option>
      <option value="R" <%= 'selected' if @student.grade_ryg == 'R' %>>R</option>
    </select>
  </div>

  <div class="my-5">
    <%= form.label :gender %>
    <%= form.select :gender, options_for_select([["Select Gender", ""]] + Student::GENDER_OPTIONS, @student.gender), {}, { class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" } %>
  </div>

  <div class="my-5">
    <%= form.label :ethnicity %>
    <%= form.select :ethnicity, options_for_select([["Select Ethnicity", ""]] + Student::ETHNICITY_OPTIONS, @student.ethnicity), {}, { class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" } %>
  </div>

  <div class="my-5">
    <%= form.label :nationality %>
    <%= form.select :nationality, options_for_select([["Select Nationality", ""]] + Student::NATIONALITY_OPTIONS, @student.nationality), {}, { class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" } %>
  </div>

  <div class="my-5">
    <%= form.label :expected_graduation %>
    <%= form.date_field :expected_graduation, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :university_classification %>
    <%= form.select :university_classification, options_for_select([["Select Classificiation", ""]] + Student::UNIVERSITY_CLASSIFICATIONS, @student.university_classification), {}, { class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" } %>
  </div>

  <div class="my-5">
    <%= form.label :status %>
    <%= form.select :status, options_for_select([["Select Status", ""]] + Student::STATUS_OPTIONS, @student.status), {}, { class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" } %>
  </div>

  <div class="my-5">
    <%= form.label :sexual_orientation %>
    <%= form.select :sexual_orientation, options_for_select([["Select Orientation", ""]] + Student::SEXUAL_ORIENTATION_OPTIONS, @student.sexual_orientation), {}, { class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" } %>
  </div>

  <div class="my-5">
    <%= form.label :date_of_birth %>
    <%= form.date_field :date_of_birth, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :email %>
    <%= form.email_field :email, placeholder: "Enter Email (Ex: name@tamu.edu)", class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const gradeSelect = document.getElementById("student_grade_ryg");

    function updateGradeColor() {
      const selectedOption = gradeSelect.options[gradeSelect.selectedIndex].value;
      gradeSelect.classList.remove("bg-green-500", "bg-red-500", "bg-yellow-500", "text-white", "text-black");

      switch (selectedOption) {
        case "G":
          gradeSelect.classList.add("bg-green-500", "text-white");
          break;
        case "R":
          gradeSelect.classList.add("bg-red-500", "text-white");
          break;
        case "Y":
          gradeSelect.classList.add("bg-yellow-500", "text-black");
          break;
        default:
          break;
      }
    }

    updateGradeColor();

    gradeSelect.addEventListener("change", updateGradeColor);
  });
</script>
<% else %>
  <div class="mx-auto md:w-2/3 w-full">
    <h1 class="font-bold text-4xl">Permission denied.  Please return to the homepage.</h1>
</div>
<% end %>