<div id="<%= dom_id student %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= student.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Age:</strong>
    <%= student.age %>
  </p>

  # <p class="my-5">
  #   <strong class="block font-medium mb-1">Grade:</strong>
  #   <%= student.grade %>
  # </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">UIN:</strong>
    <%= student.uin %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">GPA:</strong>
    <%= student.gpa %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Gender:</strong>
    <%= student.gender %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Ethnicity:</strong>
    <%= student.ethnicity %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Nationality:</strong>
    <%= student.nationality %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Expected graduation:</strong>
    <%= student.expected_graduation %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">University classification:</strong>
    <%= student.university_classification %>
  </p>

</div>
