<%= render 'layouts/navbar' %>
<% if current_user.role == 'program_director' %>
<div class="w-full px-5">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Students" %>

  <div class="flex justify-between items-center mb-6">
    <h1 class="font-bold text-4xl">Students</h1>
    <div class="flex space-x-2">
      <%= link_to "Export CSV", export_csv_students_path, data: { turbo: false }, class: "rounded-lg py-3 px-5 bg-gray-100 font-medium hover:bg-gray-200" %>
      <%= link_to "Archives", inactive_students_path, data: { turbo: false }, class: "rounded-lg py-3 px-5 bg-gray-100 font-medium hover:bg-gray-200" %>
      <%= link_to "New student", new_student_path, data: { turbo: false }, class: "rounded-lg py-3 px-5 bg-gray-100 font-medium hover:bg-gray-200" %>
    </div>
  </div>

  <%= render 'layouts/toggle_columns_form' %>

  <%= render 'layouts/filter_form' %>

  <%= render 'layouts/import_form' %>

  <div id="students" class="mt-4 overflow-x-auto">
    <table class="min-w-full border-collapse border border-gray-300">
      <thead>
        <tr>
          <th class="border border-gray-300 px-4 py-2">
            <%= sortable "name", "Name" %>
          </th>
          <th class="border border-gray-300 px-4 py-2 uin-column">
            <%= sortable "uin", "UIN" %>
          </th>
          <th class="border border-gray-300 px-4 py-2 grade-column">
            <%= sortable "grade_ryg", "Grade" %>
          </th>
          <th class="border border-gray-300 px-4 py-2 gender-column">
            <%= sortable "gender", "Gender" %>
          </th>
          <th class="border border-gray-300 px-4 py-2 ethnicity-column">
            <%= sortable "ethnicity", "Ethnicity" %>
          </th>
          <th class="border border-gray-300 px-4 py-2 nationality-column">
            <%= sortable "nationality", "Nationality" %>
          </th>
          <th class="border border-gray-300 px-4 py-2 expected_graduation-column">
            <%= sortable "expected_graduation", "Expected Graduation" %>
          </th>
          <th class="border border-gray-300 px-4 py-2 university_classification-column">
            <%= sortable "university_classification", "University Classification" %>
          </th>
          <th class="border border-gray-300 px-4 py-2 status-column">
            <%= "Status" %>
          </th>
          <th class="border border-gray-300 px-4 py-2 sexual_orientation-column">
            <%= sortable "sexual_orientation", "Sexual Orientation" %>
          </th>
          <th class="border border-gray-300 px-4 py-2 date_of_birth-column">
            <%= sortable "date_of_birth", "Date of Birth" %>
          </th>
          <th class="border border-gray-300 px-4 py-2 email-column">
            <%= sortable "email", "Email" %>
          </th>
          <% Option.pluck(:field).uniq.each do |field| %>
            <th class="border border-gray-300 px-4 py-2 custom-attribute-column <%= field.parameterize %> hidden">
              <%= field %>
            </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @students.each do |student| %>
          <tr data-href="<%= student_path(student) %>" class="cursor-pointer hover:bg-gray-100">
            <td class="border border-gray-300 px-4 py-2"><%= student.name %></td>
            <td class="border border-gray-300 px-4 py-2 uin-column"><%= student.uin %></td>
            <td class="grade-column <%= grade_ryg_class(student.grade_ryg) %> border border-gray-300 px-4 py-2"><%= student.grade_ryg %></td>
            <td class="border border-gray-300 px-4 py-2 gender-column"><%= student.gender %></td>
            <td class="border border-gray-300 px-4 py-2 ethnicity-column"><%= student.ethnicity %></td>
            <td class="border border-gray-300 px-4 py-2 nationality-column"><%= student.nationality %></td>
            <td class="border border-gray-300 px-4 py-2 expected_graduation-column"><%= student.expected_graduation %></td>
            <td class="border border-gray-300 px-4 py-2 university_classification-column"><%= student.university_classification %></td>
            <td class="border border-gray-300 px-4 py-2 status-column"><%= student.status %></td>
            <td class="border border-gray-300 px-4 py-2 sexual_orientation-column"><%= student.sexual_orientation %></td>
            <td class="border border-gray-300 px-4 py-2 date_of_birth-column"><%= student.date_of_birth %></td>
            <td class="border border-gray-300 px-4 py-2 email-column"><%= student.email %></td>
            <% Option.pluck(:field).uniq.each do |field| %>
              <td class="border border-gray-300 px-4 py-2 custom-attribute-column <%= field.parameterize %> hidden">
                <%= custom_attribute_value(student, field) %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const rows = document.querySelectorAll("tr[data-href]");
    rows.forEach(row => {
      row.addEventListener("click", function() {
        window.location.href = this.dataset.href;
      });
    });

    const filterToggle = document.getElementById("filter-toggle");
    const filterForm = document.getElementById("filter-form");
    const filterIcon = document.getElementById("filter-icon");

    filterToggle.addEventListener("click", () => {
      if (filterForm.style.maxHeight) {
        filterForm.style.maxHeight = null;
        filterIcon.style.transform = "rotate(0deg)";
      } else {
        filterForm.style.maxHeight = filterForm.scrollHeight + "px";
        filterIcon.style.transform = "rotate(180deg)";
      }
    });

    document.querySelectorAll('.toggle-column').forEach(checkbox => {
      checkbox.addEventListener('change', function() {
        const columnClass = this.dataset.column + '-column';
        document.querySelectorAll('.' + columnClass).forEach(cell => {
          cell.style.display = this.checked ? '' : 'none';
        });
      });
    });
  });
</script>
<% else %>
  <div class="mx-auto md:w-2/3 w-full">
    <h1 class="font-bold text-4xl">Permission denied. Please return to the homepage.</h1>
  </div>
<% end %>
