<%= render 'layouts/navbar' %>
<% if current_user.role == 'program_director' %>
<div class="w-full px-5">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Students" %>
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Students</h1>
    <div>
      <%= link_to "Export CSV", export_csv_students_path, data: { turbo: false }, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%= link_to "New student", new_student_path, data: { turbo: false }, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    </div>
  </div>

  <!-- Filter Form -->
  <%= form_with url: students_path, method: :get, local: true, class: "mb-4 students-form" do |form| %>
    <div class="grid grid-cols-4 gap-4">
      <% form_fields.each do |field, options| %>
        <div class="field">
          <%= render_field(form, field, options) %>
        </div>
      <% end %>
      <div class="actions">
        <%= form.submit 'Apply Filters', class: "submit-button" %>
      </div>
    </div>
  <% end %>

  <div id="students" class="mt-4 overflow-x-auto">
    <table class="table min-w-full border-collapse border border-gray-300">
      <thead>
      <tr>
      <tr>
        <% form_fields.keys.each do |header| %>
          <th class="border border-gray-300 px-4 py-2">
            <%= link_to header.to_s.titleize, students_path(sort: header, direction: next_direction(params[:direction])) %>
          </th>
        <% end %>
      </tr>
    </thead>
    
      <tbody>
        <% @students.each do |student| %>
          <tr data-href="<%= student_path(student) %>" class="cursor-pointer hover:bg-gray-100">
            <% form_fields.keys.each do |attribute| %>
              <td class="border border-gray-300 px-4 py-2"><%= student.send(attribute) %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const rows = document.querySelectorAll("tr[data-href]");
    rows.forEach(row => {
      row.addEventListener("click", () => {
        window.location.href = row.dataset.href;
      });
    });
  });
</script>
<% else %>
  <div class="mx-auto md:w-2/3 w-full">
    <h1 class="font-bold text-4xl">Permission denied. Please return to the homepage.</h1>
  </div>
<% end %>
