<div id="<%= dom_id note %>">
  <div> _NOTE </div>
  <p class="my-5">
    <strong class="block font-medium mb-1">Student:</strong>
    <%= note.student_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Note:</strong>
    <%= note.note %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Note created date:</strong>
    <%= note.note_created_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Followup action:</strong>
    <%= note.followup_action %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Followup date:</strong>
    <%= note.followup_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Action completed:</strong>
    <%= note.action_completed %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Is private:</strong>
    <%= note.is_private %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Private note user:</strong>
    <%= note.private_note_user %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= note.status %>
  </p>

</div>
