<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
<%= render 'layouts/navbar' %>
   <% content_for :title, "Notes" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Notes</h1>
    <%= link_to "New note", new_note_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>
  <table class="min-w-full border-collapse border border-gray-300">
  <thead>
    <tr>
      <th class="border border-gray-300 px-4 py-2" >
        <%= sortable "note_created_date", "Date Entered" %>
      </th>
      <th class="border border-gray-300 px-4 py-2" >
        <%= sortable "note", "Note" %>
      </th>
      <th class="border border-gray-300 px-4 py-2" >
        <%= sortable "follow_up_date", "Follow Up Date" %>
      </th>
      <th class="border border-gray-300 px-4 py-2" >
        <%= sortable "followup_action", "Follow Up Action" %>
      </th>
      <th class="border border-gray-300 px-4 py-2" style="width: 2vw;">
        <%= sortable "action_completed", "Done?" %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td class="border border-gray-300 px-4 py-2"><%= note.note_created_date.strftime('%d %b, %y') %></td>
        <td class="border border-gray-300 px-4 py-2"><%= note.note %></td>
        <td class="border border-gray-300 px-4 py-2"><%= note.followup_date %></td>
        <td class="border border-gray-300 px-4 py-2"><%= note.followup_action %></td>
        <td class="border border-gray-300 px-4 py-2"><%= note.action_completed %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  <div id="notes" class="min-w-full">
    <% @notes.each do |note| %>
      <% note.note %>
      <%= link_to "Edit this note", edit_note_path(note), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <p>
        <%= link_to "Show this note", note_path(note), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      </p>
    <% end %>
  </div>
</div>
