<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <%= render 'layouts/navbar' %>
      <% if notice.present? %>
        <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %>
        </p>
    <% end %>
    <div style="font-weight:600; font-size: 3.5vh;text-decoration: underline;"> 
      <%= @student.name %>
    </div>
    <div style="font-weight:400; font-size: 2vh;display:flex;"> 
      <div>
        UIN:
      </div>
      <div>
        <%= @student.uin %>
      <div>
    </div>
  <div id="students" class="mt-4 overflow-x-auto">
    <table class="min-w-full border-collapse border border-gray-300">
      <thead>
        <tr>
          <th class="border border-gray-300 px-4 py-2" >
            <%= sortable "note_created_date", "Date Entered" %>
          </th>
          <th class="border border-gray-300 px-4 py-2" >
            <%= sortable "note", "Note" %>
          </th>
          <th class="border border-gray-300 px-4 py-2" >
            <%= sortable "follow_up_date", "Follow Up Date" %>
          </th>
          <th class="border border-gray-300 px-4 py-2" >
            <%= sortable "followup_action", "Follow Up Action" %>
          </th>
          <th class="border border-gray-300 px-4 py-2" style="width: 2vw;">
            <%= sortable "action_completed", "Done?" %>
          </th>
          <th class="border border-gray-300 px-4 py-2" style="width: 2vw;">
            <%= sortable "action_completed", "Actions" %>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @notes.each do |note| %>
          <% if note.private_note_user == nil || note.private_note_user == "" || ((note.private_note_user != nil || note.private_note_user != "") && note.private_note_user == current_user.email) %>
            <tr >
              <td class="border border-gray-300 px-4 py-2"><%=  note.note_created_date %></td>
              <td class="border border-gray-300 px-4 py-2"><%= note.note %></td>
              <td class="border border-gray-300 px-4 py-2"><%=  note.followup_date%></td>
              <td class="border border-gray-300 px-4 py-2"><%= note.followup_action %></td>
              <td class="border border-gray-300 px-4 py-2"><%= note.action_completed %></td>
              <td class="border border-gray-300 px-4 py-2">
                <%= link_to "Edit", "/notes/" + @student.id.to_s + "/edit?note_id="+ note.id.to_s, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
              </td>
            </tr>

          <% end %>
        <% end %>
      </tbody>
    </table>
  <!--</ul> -->

    
    <%= link_to "Back to student", student_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <a id="notes-new"><div class="ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium">New Note</div></a>
    <!-- <%= link_to "New note", new_note_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"  %> -->
  </div>
</div>

<script>
  /* SHOW NOTES HYPERLINK */
  var notes_new_hyperlink = "/notes/new?student_id=";
  notes_new_hyperlink += <%= @student.id %>;
  var notes_new_anchor = document.getElementById("notes-new");
  notes_new_anchor.setAttribute('href', notes_new_hyperlink);
</script>
